[submodule "packages/satori"]
	path = packages/satori
	url = https://github.com/satorijs/satori
[submodule "packages/cordis"]
	path = packages/cordis
	url = https://github.com/cordiverse/cordis
[submodule "HelperLib"]
	path = HelperLib
	url = https://github.com/LiteLDev/HelperLib
[submodule "packages/undios"]
	path = packages/undios
	url = https://github.com/cordiverse/undios
[submodule "packages/reggol"]
	path = packages/reggol
	url = https://github.com/shigma/reggol
