[submodule "packages/satori"]
	path = packages/satori
	url = https://github.com/satorijs/satori
[submodule "packages/cordis"]
	path = packages/cordis
	url = https://github.com/cordiverse/cordis
[submodule "HelperLib"]
	path = HelperLib
	url = https://github.com/LiteLDev/HelperLib
